body{
    background-color:Grey;
  }
  .title{
    color:darkmagenta;
    background-color:gold;
    text-transform:uppercase;
    text-align:center;
    font-weight:bold;
    }
    .table{
      color:black;
    }
    .thead{
      font-family:monospace;
      color:gold;
      background-color:DarkSlateGrey;
      
    }
    h2{
      font-family:Helvetica;
      text-transform:Uppercase;
      text-align:center;
      background-color:white;
    }
    .tbody{
      background-color:white;
    }
    .thead2{
      font-family:monospace;
      background-color:DarkMagenta;
      color:yellow;
    }
    .dot{
      font-size:30px;
      font-weight:1000px;
      border:100px;
    }
